body {
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.tw-follow-card {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: .8rem;
}

.tw-follow-card {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: .8rem;
}

.tw-follow-card-header{
  display: flex;
  align-items: center;
  gap: 4px;
}

.tw-follow-card-img {
  display: flex;
  flex-direction: column;
}

article header span{
  opacity: 0.6;
  font-size: 0.8rem;
  font-weight: 400;
  display: block;
}

article img {
  width: 48px;
  height: 48px;
  border-radius: 1000px;
}

article button {
  margin-left: 16px;
  border: 0;
  border-radius: 999px;
  padding: 6px 16px;
  font-weight: bold;
}

.tw-follow-card-button {
  cursor: pointer;
  margin-left: 16px;
  border: 0;
  border-radius: 999px;
  padding: 6px 16px;
  font-weight: bold;
  transition: .3s ease background-color;

}

.tw-follow-card-button:hover {
  background-color: #09f;
}

.tw-follow-card-button.is-following {
  border: 1px solid red;
  background-color: #fff;
}